.form-personalizado{
	width: 40%;
	margin: 0 auto;
}

.row{
	width: 80%;
}

.input-group{
	width: 30%;
}

#buscar{
	width: 60%;
	font-weight: bold;
}

.miDiv{
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 70%;
}

.mi-imagen>img{
	padding: 10px;
}

a.thumbnail-propias{
	margin-bottom: 0px;
}

::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 14px;
 color: #d0cdfa; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 